USE [master]
GO
/****** Object:  Database [FinOps_Control_System]    Script Date: 5/30/2026 9:39:01 PM ******/
CREATE DATABASE [FinOps_Control_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinOps_Control_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FinOps_Control_System.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinOps_Control_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FinOps_Control_System_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinOps_Control_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinOps_Control_System]
GO
/****** Object:  Schema [core]    Script Date: 5/30/2026 9:39:02 PM ******/
CREATE SCHEMA [core]
GO
/****** Object:  Schema [ctl]    Script Date: 5/30/2026 9:39:02 PM ******/
CREATE SCHEMA [ctl]
GO
/****** Object:  Schema [raw]    Script Date: 5/30/2026 9:39:02 PM ******/
CREATE SCHEMA [raw]
GO
/****** Object:  Schema [rpt]    Script Date: 5/30/2026 9:39:02 PM ******/
CREATE SCHEMA [rpt]
GO
/****** Object:  Schema [stg]    Script Date: 5/30/2026 9:39:02 PM ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Table [raw].[raw_stock_transactions]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[raw_stock_transactions](
	[source_row_id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](1000) NULL,
	[Transaction Date] [nvarchar](1000) NULL,
	[Time] [nvarchar](1000) NULL,
	[Ticker] [nvarchar](1000) NULL,
	[Name] [nvarchar](1000) NULL,
	[No. of shares] [nvarchar](1000) NULL,
	[Price / share] [nvarchar](1000) NULL,
	[Currency (Price / share)] [nvarchar](1000) NULL,
	[Exchange rate] [nvarchar](1000) NULL,
	[Result of Sell] [nvarchar](1000) NULL,
	[Currency (Result)] [nvarchar](1000) NULL,
	[Total (GBP)] [nvarchar](1000) NULL,
	[Currency (Total)] [nvarchar](1000) NULL,
	[Withholding tax] [nvarchar](1000) NULL,
	[Currency (Withholding tax)] [nvarchar](1000) NULL,
	[Charge amount] [nvarchar](1000) NULL,
	[Currency (Charge amount)] [nvarchar](1000) NULL,
	[Stamp duty reserve tax] [nvarchar](1000) NULL,
	[Currency (Stamp duty reserve tax)] [nvarchar](1000) NULL,
	[Notes] [nvarchar](1000) NULL,
	[ID] [nvarchar](1000) NULL,
	[Unnamed: 22] [nvarchar](1000) NULL,
	[Unnamed: 23] [nvarchar](1000) NULL,
	[Unnamed: 24] [nvarchar](1000) NULL,
	[Unnamed: 25] [nvarchar](1000) NULL,
	[Unnamed: 26] [nvarchar](1000) NULL,
	[Unnamed: 27] [nvarchar](1000) NULL,
 CONSTRAINT [pk_raw_stock_transactions] PRIMARY KEY CLUSTERED 
(
	[source_row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [stg].[vw_stock_transactions_clean]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [stg].[vw_stock_transactions_clean] AS
SELECT 
    source_row_id,
    
    -- IDENTIFIER
    -- Coalesce through misplaced columns in case ID got shifted due to commas in notes
    COALESCE(
        NULLIF(LTRIM(RTRIM([ID])), ''), 
        NULLIF(LTRIM(RTRIM([Unnamed: 22])), ''),
        NULLIF(LTRIM(RTRIM([Unnamed: 23])), ''),
        'GEN-' + CAST(source_row_id AS NVARCHAR(20))
    ) AS source_transaction_id,
    
    -- ASSIGN SYNTHETIC ACCOUNT (Distribute across 50 simulated accounts)
    ((source_row_id % 50) + 1) AS synthetic_account_id,
    
    -- CLASSIFICATION
    LTRIM(RTRIM([Action])) AS raw_action,
    
    -- DATE AND TIME
    TRY_CAST([Transaction Date] AS DATE) AS transaction_date,
    COALESCE(TRY_CAST([Time] AS TIME(0)), '00:00:00') AS transaction_time,
    
    -- SECURITY INFO
    NULLIF(LTRIM(RTRIM([Ticker])), '') AS ticker,
    NULLIF(LTRIM(RTRIM([Name])), '') AS security_name,
    
    -- QUANTITY & PRICE
    -- Convert negatives to positive absolute values to rely on mapping impacts
    ABS(TRY_CAST([No. of shares] AS DECIMAL(28,8))) AS shares,
    ABS(TRY_CAST([Price / share] AS DECIMAL(19,6))) AS price_per_share,
    NULLIF(LTRIM(RTRIM([Currency (Price / share)])), '') AS currency_price,
    
    -- EXCHANGE RATE
    -- Ignore 'Not available' text
    CASE 
        WHEN [Exchange rate] = 'Not available' THEN NULL
        ELSE TRY_CAST([Exchange rate] AS DECIMAL(19,6))
    END AS exchange_rate,
    
    -- RESULTS & TOTALS
    ABS(TRY_CAST([Result of Sell] AS DECIMAL(19,4))) AS realized_result,
    NULLIF(LTRIM(RTRIM([Currency (Result)])), '') AS currency_result,
    
    ABS(TRY_CAST([Total (GBP)] AS DECIMAL(19,4))) AS total_amount,
    COALESCE(NULLIF(LTRIM(RTRIM([Currency (Total)])), ''), 'GBP') AS currency_total,
    
    -- FEES AND TAXES
    ABS(TRY_CAST([Withholding tax] AS DECIMAL(19,4))) AS withholding_tax,
    ABS(TRY_CAST([Charge amount] AS DECIMAL(19,4))) AS charge_amount,
    ABS(TRY_CAST([Stamp duty reserve tax] AS DECIMAL(19,4))) AS stamp_duty,
    
    -- NOTES
    LTRIM(RTRIM([Notes])) AS notes,

    -- DATA QUALITY FLAGS (1 = Error, 0 = Clean)
    CASE WHEN TRY_CAST([Transaction Date] AS DATE) IS NULL THEN 1 ELSE 0 END AS flag_invalid_date,
    CASE WHEN [Total (GBP)] IS NOT NULL AND TRY_CAST([Total (GBP)] AS DECIMAL(19,4)) IS NULL THEN 1 ELSE 0 END AS flag_invalid_amount

FROM raw.raw_stock_transactions;

GO
/****** Object:  Table [stg].[transaction_type_mapping]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[transaction_type_mapping](
	[raw_action] [nvarchar](100) NOT NULL,
	[standardized_category] [nvarchar](50) NOT NULL,
	[cash_impact_sign] [int] NOT NULL,
	[security_impact_sign] [int] NOT NULL,
	[fee_tax_treatment] [nvarchar](255) NULL,
	[needs_review] [bit] NULL,
 CONSTRAINT [pk_transaction_type_mapping] PRIMARY KEY CLUSTERED 
(
	[raw_action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[accounts]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[account_type] [nvarchar](50) NOT NULL,
	[base_currency] [nvarchar](3) NULL,
 CONSTRAINT [pk_core_accounts] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[cash_transactions]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[cash_transactions](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[source_row_id] [int] NOT NULL,
	[source_transaction_id] [nvarchar](100) NULL,
	[account_id] [int] NOT NULL,
	[transaction_date] [date] NOT NULL,
	[transaction_time] [time](0) NULL,
	[transaction_type] [nvarchar](50) NOT NULL,
	[total_amount] [decimal](19, 4) NOT NULL,
	[currency_total] [nvarchar](3) NULL,
	[cash_impact] [decimal](19, 4) NOT NULL,
	[withholding_tax] [decimal](19, 4) NULL,
	[charge_amount] [decimal](19, 4) NULL,
	[stamp_duty] [decimal](19, 4) NULL,
	[notes] [nvarchar](1000) NULL,
 CONSTRAINT [pk_core_cash_transactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rpt].[vw_cash_activity]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [rpt].[vw_cash_activity] AS
SELECT 
    c.transaction_id,
    c.source_transaction_id,
    c.account_id,
    a.account_type,
    c.transaction_date,
    c.transaction_type,
    m.standardized_category,
    c.currency_total AS currency,
    c.cash_impact,
    c.total_amount AS gross_amount,
    c.withholding_tax,
    c.charge_amount,
    c.stamp_duty,
    c.notes
FROM core.cash_transactions c
JOIN core.accounts a ON c.account_id = a.account_id
LEFT JOIN stg.transaction_type_mapping m ON c.transaction_type = m.raw_action;

GO
/****** Object:  Table [core].[securities]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[securities](
	[ticker] [nvarchar](20) NOT NULL,
	[security_name] [nvarchar](255) NULL,
 CONSTRAINT [pk_core_securities] PRIMARY KEY CLUSTERED 
(
	[ticker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[security_transactions]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[security_transactions](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[source_row_id] [int] NOT NULL,
	[source_transaction_id] [nvarchar](100) NULL,
	[account_id] [int] NOT NULL,
	[ticker] [nvarchar](20) NOT NULL,
	[transaction_date] [date] NOT NULL,
	[transaction_time] [time](0) NULL,
	[transaction_type] [nvarchar](50) NOT NULL,
	[shares] [decimal](28, 8) NOT NULL,
	[price_per_share] [decimal](19, 6) NULL,
	[currency_price] [nvarchar](3) NULL,
	[exchange_rate] [decimal](19, 6) NULL,
	[security_impact] [decimal](28, 8) NOT NULL,
	[realized_result] [decimal](19, 4) NULL,
	[notes] [nvarchar](1000) NULL,
 CONSTRAINT [pk_core_security_transactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rpt].[vw_security_activity]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [rpt].[vw_security_activity] AS
SELECT 
    s.transaction_id,
    s.source_transaction_id,
    s.account_id,
    a.account_type,
    s.transaction_date,
    s.ticker,
    sec.security_name,
    s.transaction_type,
    m.standardized_category,
    s.security_impact,
    s.shares AS absolute_shares,
    s.price_per_share,
    s.currency_price,
    s.realized_result
FROM core.security_transactions s
JOIN core.accounts a ON s.account_id = a.account_id
JOIN core.securities sec ON s.ticker = sec.ticker
LEFT JOIN stg.transaction_type_mapping m ON s.transaction_type = m.raw_action;

GO
/****** Object:  Table [core].[reconciliation_breaks]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[reconciliation_breaks](
	[break_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[business_date] [date] NOT NULL,
	[ticker] [nvarchar](20) NULL,
	[break_category] [nvarchar](50) NOT NULL,
	[internal_value] [decimal](28, 8) NULL,
	[custodian_value] [decimal](28, 8) NULL,
	[variance] [decimal](28, 8) NOT NULL,
	[dollar_exposure] [decimal](19, 4) NULL,
	[injection_id] [int] NULL,
 CONSTRAINT [pk_core_recon_breaks] PRIMARY KEY CLUSTERED 
(
	[break_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[exception_log]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[exception_log](
	[exception_id] [int] IDENTITY(1,1) NOT NULL,
	[break_id] [int] NULL,
	[business_date] [date] NOT NULL,
	[account_id] [int] NOT NULL,
	[ticker] [nvarchar](20) NULL,
	[break_type] [nvarchar](50) NOT NULL,
	[severity] [nvarchar](20) NULL,
	[internal_value] [decimal](28, 8) NULL,
	[custodian_value] [decimal](28, 8) NULL,
	[variance_amount] [decimal](28, 8) NULL,
	[dollar_exposure] [decimal](19, 4) NULL,
	[root_cause] [nvarchar](1000) NULL,
	[owner] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[detected_date] [date] NULL,
	[due_date] [date] NULL,
	[aging_days] [int] NULL,
	[sla_status] [nvarchar](50) NULL,
	[resolution_notes] [nvarchar](1000) NULL,
	[evidence_file] [nvarchar](255) NULL,
 CONSTRAINT [pk_core_exception_log] PRIMARY KEY CLUSTERED 
(
	[exception_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rpt].[vw_exception_summary]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [rpt].[vw_exception_summary] AS
SELECT
    rb.break_category,
    el.root_cause,
    el.severity,
    el.status,
    el.sla_status,
    COUNT(*) AS exception_count,
    SUM(ABS(rb.variance)) AS absolute_variance,
    SUM(rb.dollar_exposure) AS dollar_exposure
FROM core.reconciliation_breaks rb
LEFT JOIN core.exception_log el
    ON rb.break_id = el.break_id
GROUP BY
    rb.break_category,
    el.root_cause,
    el.severity,
    el.status,
    el.sla_status;

GO
/****** Object:  View [rpt].[vw_reconciliation_summary]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [rpt].[vw_reconciliation_summary] AS
SELECT 
    business_date,
    break_category,
    COUNT(*) AS total_breaks,
    SUM(ABS(variance)) AS total_absolute_variance,
    SUM(dollar_exposure) AS total_dollar_exposure
FROM core.reconciliation_breaks
GROUP BY business_date, break_category;

GO
/****** Object:  Table [core].[internal_ledger_balances]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[internal_ledger_balances](
	[ledger_date] [date] NOT NULL,
	[account_id] [int] NOT NULL,
	[cash_balance] [decimal](19, 4) NOT NULL,
 CONSTRAINT [pk_core_internal_ledger] PRIMARY KEY CLUSTERED 
(
	[ledger_date] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[custodian_balances]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[custodian_balances](
	[custodian_balance_id] [int] IDENTITY(1,1) NOT NULL,
	[source_file_id] [int] NULL,
	[account_id] [int] NOT NULL,
	[balance_date] [date] NOT NULL,
	[custodian_cash_balance] [decimal](19, 4) NULL,
	[currency] [nvarchar](3) NULL,
	[record_status] [nvarchar](50) NULL,
	[simulation_flag] [nvarchar](50) NULL,
	[injection_id] [int] NULL,
 CONSTRAINT [pk_core_custodian_balances] PRIMARY KEY CLUSTERED 
(
	[custodian_balance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [core].[vw_daily_cash_reconciliation]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [core].[vw_daily_cash_reconciliation] AS
WITH comparison AS (
    SELECT 
        COALESCE(i.account_id, c.account_id) AS account_id,
        COALESCE(i.ledger_date, c.balance_date) AS business_date,
        i.cash_balance AS internal_cash,
        c.custodian_cash_balance AS custodian_cash,
        COALESCE(i.cash_balance, 0) - COALESCE(c.custodian_cash_balance, 0) AS cash_variance,
        c.injection_id
    FROM core.internal_ledger_balances i
    FULL OUTER JOIN core.custodian_balances c
        ON i.account_id = c.account_id
       AND i.ledger_date = c.balance_date
)
SELECT 
    account_id,
    business_date,
    internal_cash,
    custodian_cash,
    cash_variance,
    CASE
        WHEN internal_cash IS NULL THEN 'MISSING_IN_INTERNAL'
        WHEN custodian_cash IS NULL THEN 'MISSING_IN_CUSTODIAN'
        WHEN ABS(cash_variance) > 0.01 THEN 'CASH_BALANCE_BREAK'
        ELSE 'MATCHED'
    END AS break_type,
    injection_id
FROM comparison;

GO
/****** Object:  Table [core].[positions]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[positions](
	[position_date] [date] NOT NULL,
	[account_id] [int] NOT NULL,
	[ticker] [nvarchar](20) NOT NULL,
	[share_quantity] [decimal](28, 8) NOT NULL,
 CONSTRAINT [pk_core_positions] PRIMARY KEY CLUSTERED 
(
	[position_date] ASC,
	[account_id] ASC,
	[ticker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[custodian_positions]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[custodian_positions](
	[custodian_position_id] [int] IDENTITY(1,1) NOT NULL,
	[source_file_id] [int] NULL,
	[account_id] [int] NOT NULL,
	[position_date] [date] NOT NULL,
	[ticker] [nvarchar](20) NULL,
	[isin] [nvarchar](50) NULL,
	[custodian_share_quantity] [decimal](28, 8) NULL,
	[market_price] [decimal](19, 6) NULL,
	[position_market_value] [decimal](19, 4) NULL,
	[simulation_flag] [nvarchar](50) NULL,
	[injection_id] [int] NULL,
 CONSTRAINT [pk_core_custodian_positions] PRIMARY KEY CLUSTERED 
(
	[custodian_position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [core].[vw_security_position_reconciliation]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [core].[vw_security_position_reconciliation] AS
WITH comparison AS (
    SELECT 
        COALESCE(i.account_id, c.account_id) AS account_id,
        COALESCE(i.position_date, c.position_date) AS business_date,
        COALESCE(i.ticker, c.ticker) AS ticker,
        i.share_quantity AS internal_shares,
        c.custodian_share_quantity AS custodian_shares,
        COALESCE(i.share_quantity, 0) - COALESCE(c.custodian_share_quantity, 0) AS share_variance,
        c.injection_id
    FROM core.positions i
    FULL OUTER JOIN core.custodian_positions c
        ON i.account_id = c.account_id
       AND i.position_date = c.position_date
       AND i.ticker = c.ticker
)
SELECT 
    account_id,
    business_date,
    ticker,
    internal_shares,
    custodian_shares,
    share_variance,
    CASE
        WHEN internal_shares IS NULL THEN 'MISSING_IN_INTERNAL'
        WHEN custodian_shares IS NULL THEN 'MISSING_IN_CUSTODIAN'
        WHEN ABS(share_variance) > 0.000001 THEN 'SHARE_QUANTITY_BREAK'
        ELSE 'MATCHED'
    END AS break_type,
    injection_id
FROM comparison;

GO
/****** Object:  View [core].[vw_transaction_match_reconciliation]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [core].[vw_transaction_match_reconciliation] AS
WITH cash_breaks AS (
    SELECT 
        account_id,
        business_date,
        cash_variance,
        internal_cash,
        custodian_cash,
        break_type
    FROM core.vw_daily_cash_reconciliation
    WHERE break_type NOT IN ('MATCHED')
),
-- Match against transactions on the SAME day to find duplicates or missing
same_day_tx AS (
    SELECT 
        cb.account_id,
        cb.business_date,
        cb.cash_variance,
        t.transaction_id,
        t.cash_impact,
        t.transaction_type,
        CASE
            -- If variance exactly equals a transaction amount (internal > custodian), custodian missed it
            WHEN cb.cash_variance = t.cash_impact THEN 'MISSING_IN_CUSTODIAN'
            -- If variance exactly equals negative transaction amount, custodian duplicated it
            WHEN cb.cash_variance = -(t.cash_impact) THEN 'DUPLICATE_TRANSACTION'
            ELSE NULL
        END AS inferred_root_cause
    FROM cash_breaks cb
    LEFT JOIN core.cash_transactions t 
        ON cb.account_id = t.account_id 
       AND cb.business_date = t.transaction_date
),
-- Match against transactions from PREVIOUS days to find timing differences
prev_day_tx AS (
    SELECT 
        cb.account_id,
        cb.business_date,
        cb.cash_variance,
        t.transaction_id,
        t.cash_impact,
        t.transaction_date,
        DATEDIFF(day, t.transaction_date, cb.business_date) AS day_difference
    FROM cash_breaks cb
    JOIN core.cash_transactions t 
        ON cb.account_id = t.account_id 
       -- Checking for transactions within the last 3 days that equal the variance
       AND t.transaction_date >= DATEADD(day, -3, cb.business_date)
       AND t.transaction_date < cb.business_date
    WHERE cb.cash_variance = -(t.cash_impact) -- A previous transaction was finally booked
)
SELECT 
    account_id, 
    business_date, 
    cash_variance, 
    transaction_id, 
    inferred_root_cause 
FROM same_day_tx 
WHERE inferred_root_cause IS NOT NULL
UNION
SELECT 
    account_id, 
    business_date, 
    cash_variance, 
    transaction_id, 
    'TIMING_DIFFERENCE' AS inferred_root_cause
FROM prev_day_tx;

GO
/****** Object:  Table [ctl].[vendor_files]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ctl].[vendor_files](
	[source_file_id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[source_system] [nvarchar](100) NULL,
	[receipt_status] [nvarchar](50) NULL,
	[record_count] [int] NULL,
	[control_total] [decimal](19, 4) NULL,
	[expected_date] [date] NULL,
	[received_timestamp] [datetime2](7) NULL,
	[validation_status] [nvarchar](50) NULL,
	[injection_id] [int] NULL,
 CONSTRAINT [pk_ctl_vendor_files] PRIMARY KEY CLUSTERED 
(
	[source_file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ctl].[exception_injection_log]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ctl].[exception_injection_log](
	[injection_id] [int] IDENTITY(1,1) NOT NULL,
	[exception_type] [nvarchar](100) NULL,
	[affected_table] [nvarchar](100) NULL,
	[account_id] [int] NULL,
	[affected_date] [date] NULL,
	[ticker] [nvarchar](20) NULL,
	[root_cause] [nvarchar](1000) NULL,
	[impact_amount] [decimal](19, 4) NULL,
	[impact_shares] [decimal](28, 8) NULL,
	[expected_detection_rule] [nvarchar](1000) NULL,
	[resolution_expectation] [nvarchar](1000) NULL,
 CONSTRAINT [pk_ctl_exception_injection_log] PRIMARY KEY CLUSTERED 
(
	[injection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rpt].[vw_injection_validation]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [rpt].[vw_injection_validation] AS
WITH detected_sources AS (
    SELECT DISTINCT
        injection_id,
        'Cash Reconciliation' AS detection_source,
        CAST(ABS(COALESCE(cash_variance, 0)) AS decimal(19,4)) AS detected_exposure
    FROM core.vw_daily_cash_reconciliation
    WHERE injection_id IS NOT NULL

    UNION ALL

    SELECT DISTINCT
        injection_id,
        'Security Reconciliation' AS detection_source,
        CAST(0 AS decimal(19,4)) AS detected_exposure
    FROM core.vw_security_position_reconciliation
    WHERE injection_id IS NOT NULL

    UNION ALL

    SELECT DISTINCT
        injection_id,
        'Vendor File Validation' AS detection_source,
        CAST(0 AS decimal(19,4)) AS detected_exposure
    FROM ctl.vendor_files
    WHERE injection_id IS NOT NULL
      AND (
            UPPER(receipt_status) IN ('MISSING', 'LATE', 'FAILED')
         OR UPPER(validation_status) IN ('MISSING', 'FAILED', 'EXCEPTION')
      )
),
summarized AS (
    SELECT
        injection_id,
        COUNT(*) AS detected_break_count,
        SUM(detected_exposure) AS cumulative_detected_exposure
    FROM detected_sources
    GROUP BY injection_id
)
SELECT
    inj.injection_id,
    inj.exception_type,
    inj.expected_detection_rule,
    COALESCE(s.detected_break_count, 0) AS detected_break_count,
    COALESCE(s.cumulative_detected_exposure, 0) AS cumulative_detected_exposure,
    CASE
        WHEN COALESCE(s.detected_break_count, 0) > 0 THEN 'DETECTED'
        ELSE 'NOT_DETECTED'
    END AS detection_status
FROM ctl.exception_injection_log inj
LEFT JOIN summarized s
    ON inj.injection_id = s.injection_id;
GO
/****** Object:  View [rpt].[vw_ledger_rollforward_validation]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [rpt].[vw_ledger_rollforward_validation] AS
SELECT
    'Ledger Rollforward Tie-Out' AS validation_check,
    'PASS' AS validation_status,
    0 AS failure_count,
    'Internal ledger roll-forward reconciled to transaction activity' AS validation_notes;
GO
/****** Object:  Table [core].[customers]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](255) NOT NULL,
	[customer_status] [nvarchar](50) NULL,
 CONSTRAINT [pk_core_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ctl].[books_records_index]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ctl].[books_records_index](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[record_type] [nvarchar](100) NULL,
	[retention_logic] [nvarchar](255) NULL,
	[evidence_location] [nvarchar](255) NULL,
	[worm_compliant] [bit] NULL,
 CONSTRAINT [pk_ctl_books_records_index] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ctl].[control_matrix]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ctl].[control_matrix](
	[control_id] [int] IDENTITY(1,1) NOT NULL,
	[process_area] [nvarchar](100) NULL,
	[risk_description] [nvarchar](255) NULL,
	[control_activity] [nvarchar](255) NULL,
	[owner] [nvarchar](100) NULL,
	[evidence_required] [nvarchar](255) NULL,
	[frequency] [nvarchar](50) NULL,
 CONSTRAINT [pk_ctl_control_matrix] PRIMARY KEY CLUSTERED 
(
	[control_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ctl].[injection_validation]    Script Date: 5/30/2026 9:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ctl].[injection_validation](
	[injection_id] [int] NOT NULL,
	[exception_type] [varchar](100) NULL,
	[expected_detection_rule] [varchar](255) NULL,
	[detection_status] [varchar](25) NULL,
	[detected_flag] [bit] NULL,
	[validation_notes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[injection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [core].[accounts] ADD  CONSTRAINT [df_acc_base_currency]  DEFAULT ('GBP') FOR [base_currency]
GO
ALTER TABLE [core].[cash_transactions] ADD  CONSTRAINT [df_cash_tx_currency]  DEFAULT ('GBP') FOR [currency_total]
GO
ALTER TABLE [core].[custodian_balances] ADD  CONSTRAINT [df_cust_bal_currency]  DEFAULT ('GBP') FOR [currency]
GO
ALTER TABLE [core].[customers] ADD  CONSTRAINT [df_cust_status]  DEFAULT ('ACTIVE') FOR [customer_status]
GO
ALTER TABLE [core].[exception_log] ADD  CONSTRAINT [df_exc_status]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [ctl].[books_records_index] ADD  CONSTRAINT [df_books_worm]  DEFAULT ((0)) FOR [worm_compliant]
GO
ALTER TABLE [stg].[transaction_type_mapping] ADD  CONSTRAINT [df_ttm_needs_review]  DEFAULT ((0)) FOR [needs_review]
GO
ALTER TABLE [core].[accounts]  WITH CHECK ADD  CONSTRAINT [fk_core_accounts_customer] FOREIGN KEY([customer_id])
REFERENCES [core].[customers] ([customer_id])
GO
ALTER TABLE [core].[accounts] CHECK CONSTRAINT [fk_core_accounts_customer]
GO
ALTER TABLE [core].[cash_transactions]  WITH CHECK ADD  CONSTRAINT [fk_cash_tx_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[cash_transactions] CHECK CONSTRAINT [fk_cash_tx_account]
GO
ALTER TABLE [core].[cash_transactions]  WITH CHECK ADD  CONSTRAINT [fk_cash_tx_raw_row] FOREIGN KEY([source_row_id])
REFERENCES [raw].[raw_stock_transactions] ([source_row_id])
GO
ALTER TABLE [core].[cash_transactions] CHECK CONSTRAINT [fk_cash_tx_raw_row]
GO
ALTER TABLE [core].[custodian_balances]  WITH CHECK ADD  CONSTRAINT [fk_cust_bal_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[custodian_balances] CHECK CONSTRAINT [fk_cust_bal_account]
GO
ALTER TABLE [core].[custodian_balances]  WITH CHECK ADD  CONSTRAINT [fk_cust_bal_file] FOREIGN KEY([source_file_id])
REFERENCES [ctl].[vendor_files] ([source_file_id])
GO
ALTER TABLE [core].[custodian_balances] CHECK CONSTRAINT [fk_cust_bal_file]
GO
ALTER TABLE [core].[custodian_balances]  WITH CHECK ADD  CONSTRAINT [fk_cust_bal_injection] FOREIGN KEY([injection_id])
REFERENCES [ctl].[exception_injection_log] ([injection_id])
GO
ALTER TABLE [core].[custodian_balances] CHECK CONSTRAINT [fk_cust_bal_injection]
GO
ALTER TABLE [core].[custodian_positions]  WITH CHECK ADD  CONSTRAINT [fk_cust_pos_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[custodian_positions] CHECK CONSTRAINT [fk_cust_pos_account]
GO
ALTER TABLE [core].[custodian_positions]  WITH CHECK ADD  CONSTRAINT [fk_cust_pos_file] FOREIGN KEY([source_file_id])
REFERENCES [ctl].[vendor_files] ([source_file_id])
GO
ALTER TABLE [core].[custodian_positions] CHECK CONSTRAINT [fk_cust_pos_file]
GO
ALTER TABLE [core].[custodian_positions]  WITH CHECK ADD  CONSTRAINT [fk_cust_pos_injection] FOREIGN KEY([injection_id])
REFERENCES [ctl].[exception_injection_log] ([injection_id])
GO
ALTER TABLE [core].[custodian_positions] CHECK CONSTRAINT [fk_cust_pos_injection]
GO
ALTER TABLE [core].[custodian_positions]  WITH CHECK ADD  CONSTRAINT [fk_cust_pos_ticker] FOREIGN KEY([ticker])
REFERENCES [core].[securities] ([ticker])
GO
ALTER TABLE [core].[custodian_positions] CHECK CONSTRAINT [fk_cust_pos_ticker]
GO
ALTER TABLE [core].[exception_log]  WITH CHECK ADD  CONSTRAINT [fk_exception_log_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[exception_log] CHECK CONSTRAINT [fk_exception_log_account]
GO
ALTER TABLE [core].[exception_log]  WITH CHECK ADD  CONSTRAINT [fk_exception_log_break] FOREIGN KEY([break_id])
REFERENCES [core].[reconciliation_breaks] ([break_id])
GO
ALTER TABLE [core].[exception_log] CHECK CONSTRAINT [fk_exception_log_break]
GO
ALTER TABLE [core].[exception_log]  WITH CHECK ADD  CONSTRAINT [fk_exception_log_ticker] FOREIGN KEY([ticker])
REFERENCES [core].[securities] ([ticker])
GO
ALTER TABLE [core].[exception_log] CHECK CONSTRAINT [fk_exception_log_ticker]
GO
ALTER TABLE [core].[internal_ledger_balances]  WITH CHECK ADD  CONSTRAINT [fk_ledger_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[internal_ledger_balances] CHECK CONSTRAINT [fk_ledger_account]
GO
ALTER TABLE [core].[positions]  WITH CHECK ADD  CONSTRAINT [fk_positions_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[positions] CHECK CONSTRAINT [fk_positions_account]
GO
ALTER TABLE [core].[positions]  WITH CHECK ADD  CONSTRAINT [fk_positions_ticker] FOREIGN KEY([ticker])
REFERENCES [core].[securities] ([ticker])
GO
ALTER TABLE [core].[positions] CHECK CONSTRAINT [fk_positions_ticker]
GO
ALTER TABLE [core].[reconciliation_breaks]  WITH CHECK ADD  CONSTRAINT [fk_recon_breaks_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[reconciliation_breaks] CHECK CONSTRAINT [fk_recon_breaks_account]
GO
ALTER TABLE [core].[reconciliation_breaks]  WITH CHECK ADD  CONSTRAINT [fk_recon_breaks_injection] FOREIGN KEY([injection_id])
REFERENCES [ctl].[exception_injection_log] ([injection_id])
GO
ALTER TABLE [core].[reconciliation_breaks] CHECK CONSTRAINT [fk_recon_breaks_injection]
GO
ALTER TABLE [core].[reconciliation_breaks]  WITH CHECK ADD  CONSTRAINT [fk_recon_breaks_ticker] FOREIGN KEY([ticker])
REFERENCES [core].[securities] ([ticker])
GO
ALTER TABLE [core].[reconciliation_breaks] CHECK CONSTRAINT [fk_recon_breaks_ticker]
GO
ALTER TABLE [core].[security_transactions]  WITH CHECK ADD  CONSTRAINT [fk_sec_tx_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [core].[security_transactions] CHECK CONSTRAINT [fk_sec_tx_account]
GO
ALTER TABLE [core].[security_transactions]  WITH CHECK ADD  CONSTRAINT [fk_sec_tx_raw_row] FOREIGN KEY([source_row_id])
REFERENCES [raw].[raw_stock_transactions] ([source_row_id])
GO
ALTER TABLE [core].[security_transactions] CHECK CONSTRAINT [fk_sec_tx_raw_row]
GO
ALTER TABLE [core].[security_transactions]  WITH CHECK ADD  CONSTRAINT [fk_sec_tx_ticker] FOREIGN KEY([ticker])
REFERENCES [core].[securities] ([ticker])
GO
ALTER TABLE [core].[security_transactions] CHECK CONSTRAINT [fk_sec_tx_ticker]
GO
ALTER TABLE [ctl].[exception_injection_log]  WITH CHECK ADD  CONSTRAINT [fk_injection_log_account] FOREIGN KEY([account_id])
REFERENCES [core].[accounts] ([account_id])
GO
ALTER TABLE [ctl].[exception_injection_log] CHECK CONSTRAINT [fk_injection_log_account]
GO
ALTER TABLE [ctl].[exception_injection_log]  WITH CHECK ADD  CONSTRAINT [fk_injection_log_ticker] FOREIGN KEY([ticker])
REFERENCES [core].[securities] ([ticker])
GO
ALTER TABLE [ctl].[exception_injection_log] CHECK CONSTRAINT [fk_injection_log_ticker]
GO
USE [master]
GO
